.listadoG {
    position: absolute;
    left: 0;
}
ul {
    text-decoration: none;
    list-style: none;
}

.listageneros li {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}
